{% extends "base.twig" %}

{% block content %}
    {% set currentUri = '/albums/' %}
    <div id="content" style="display: none;">
        <div class="photo_page">
        {% if request.albums|length>0 %}
            <section class="photo_line">
            {% for album in request.albums %}
                <div class="js_album_wrapper photo picture_big horizontal white_on_blue"
                {% if album.getCover() is not null %}
                        style="background-image: url('/files/photo/thumbnail/{{ album.getCover() }}.jpg');"
                {% endif %}>
                <a class="js_album picture_text picture_text_min album_title" href="/albums/id/{{ album.getId() }}/">
                    <span class="album_title">{{ album.getTitle() }}</span>
                </a>
                </div>
            {% endfor %}
            </section>
        {% endif %}
        </div>
        <div id="photo_pager" class="pager">
            <a href="{{ currentUri~'?page='~(request.page-1) }}"
               {% if request.page == 1 %}style="visibility: hidden;"{% endif %}
               class="pager_arrow">&nbsp;</a>
            {% for pageNum in 1..request.pageCount %}
                <a href="{{ currentUri~'?page='~(pageNum) }}" {% if (pageNum) == request.page %}class="pager_current"{% endif %}>&nbsp;</a>
            {% endfor %}
            <a href="{{ currentUri~'?page='~(request.page+1) }}"
               {% if request.pageCount<=request.page %}style="visibility: hidden;"{% endif %}
               class="pager_arrow">&nbsp;</a>
        </div>
    </div>
{% endblock %}

{% block js_ready %}
    {{ parent() }}
    $(document).on("mouseover", '.js_album_wrapper',function () {
        $(this).find(".js_album").stop(true, false).animate({"padding-top":126}, 250, "linear")
    })
    .on("mouseleave", '.js_album_wrapper', function () {
        $(this).find(".js_album").stop(true, false).animate({'padding-top':176}, 300, "linear")
    });
{% endblock %}
