{% set staticVersion = '?v=2' %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block headTitle %}
        <title>{{ general.title }}</title>
    {% endblock %}
    {% block headDescription %}
        <meta name="description" content="{{ general.description }}">
    {% endblock %}
    {% block headKeywords %}
        <meta name="keywords" content="{{ general.keywords }}">
    {% endblock %}
    <link type="text/plain" rel="author" href="/humans.txt" />
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="{{ general.title }}" />
    <meta property="og:description" content="{{ general.description }}" />
    <meta property="og:image" content="http://katelyn.ru/img/og.jpg" />
    {% block ogImage %}{% endblock %}
    <link rel="favicon" href="/favicon.ico">
    {% block css %}
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css{{ staticVersion }}">
    {% endblock %}
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?79"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">Вы используете <strong>устаревший</strong> браузер. Пожалуста <a href="http://browsehappy.com/">обновите ваш браузер</a> или <a href="http://www.google.ru/chromeframe/?redirect=true">включите Google Chrome Frame</a>
    для удобного серфинга по интернету.</p>
<![endif]-->

{% block header %}
    <div class="carrot_logo rotate">
        <a href="/">
            <img id="carrot" src="/img/carrot/carrot70.png" />
        </a>
    </div>
    <div class="layout_text restriction">18+</div>
    <div class="layout_text header">
        <a href="/">
            <span>{{ general.header_text }}</span><br>
            <span>photographer</span>
        </a>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% set starYear = '2012' %}
    <div class="layout_text copyright"><span>Copyright {{ starYear }}{% if "now"|date("Y")>starYear %}-{{ "now"|date("Y") }}{% endif %} &copy; {{ general.header_text }}</span></div>
{% endblock %}
{% block js %}
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <!-- jQuery-UI -->
    <link rel="stylesheet" href="/js/vendor/jquery_ui/jquery-ui-1.9.2.min.css">
    <script src="/js/vendor/jquery_ui/jquery-ui-1.9.2.min.js"></script>
    <!-- Messi -->
    <link rel="stylesheet" href="/js/vendor/messi/messi.min.css">
    <script src="/js/vendor/messi/messi.min.js"></script>
    <!-- yandex social hack -->
    <script src="/js/vendor/yandexSocial.js" charset="utf-8"></script>
    {#<script src="//yandex.st/share/cnt.share.js"></script>#}
    {#<!-- my.com -->#}
    {#<script src="http://cdn.connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>#}
    <!-- Site`s js -->
    <script src="/js/plugins.js{{ staticVersion }}"></script>
    <script src="/js/main.js{{ staticVersion }}"></script>
{% endblock %}
    <script>
        $(document).ready(function(){
            window.___gcfg = {lang: 'ru'};
            {#VK.init({apiId: 3449984, onlyWidgets: true});
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));#}
            {% block js_ready %}{% endblock %}
        });
    </script>


{% block counters %}
    {% include 'counter/google.twig' %}
    {% include 'counter/yandex.twig' %}
{% endblock %}
</body>
</html>
